:root {
  --ComposerForm__transition: {
    transition: 0.2s ease-in-out;
  };

  --ComposerForm__label-or-hint: {
    position: absolute;
    pointer-events: none;
    color: var(--gray-light);
    left: 0;
    top: calc(2.25 * var(--spacing));
  };

  --ComposerForm__hr-input-title: {
    @apply --ComposerForm__transition;

    border: none;
    margin: 0;

    &::before,
    &::after {
      display: block;
      content: "";
      margin: 0 auto;
    }

    &::before {
      width: 100%;
      border-bottom: 1px solid var(--color-text_dark);
    }

    &::after {
      margin-top: -2px;
      width: 0%;
      border-bottom: 2px solid var(--primary-green-dark);
    }
  };

  --ComposerForm__hint-input-title: {
    @apply --ComposerForm__transition;
    @apply --ComposerForm__label-or-hint;

    display: none;
  };

  --ComposerForm__label-input-title: {
    @apply --ComposerForm__transition;
    @apply --ComposerForm__label-or-hint;
  };

  --ComposerForm__autocomplete-item: {
    cursor: pointer;
    padding: 0 calc(2 * var(--spacing));
  };
}

.ComposerForm {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.ComposerForm__group-input-title {
  flex: 1 1;
  position: relative;
  padding-top: calc(1.5 * var(--spacing));
}

.ComposerForm__input-title-wrapper {
  width: 100%;
}

.ComposerForm__input-title {
  outline: none;
  padding: 0 0 var(--spacing);
  margin-top: var(--spacing);
  width: 100%;
}

.ComposerForm__hr-input-title {
  @apply --ComposerForm__hr-input-title;
}

.ComposerForm__hr-input-title_focused {
  @apply --ComposerForm__hr-input-title;

  &::after {
    width: 100%;
  }
}

.ComposerForm__label-input-title {
  @apply --ComposerForm__label-input-title;
}

.ComposerForm__label-input-title_focused,
.ComposerForm__label-input-title_focused_inputted,
.ComposerForm__label-input-title_inputted {
  @apply --ComposerForm__label-input-title;

  top: 0;
  color: var(--primary-green-dark);
  font-size: 0.75rem;
}

.ComposerForm__hint-input-title,
.ComposerForm__hint-input-title_focused_inputted,
.ComposerForm__hint-input-title_inputted {
  @apply --ComposerForm__hint-input-title;
}

.ComposerForm__hint-input-title_focused {
  @apply --ComposerForm__hint-input-title;

  display: block;
}

.ComposerForm__autocomplete {
  position: fixed;
  background: color(var(--color-bg_light) a(90%));
  border-radius: var(--border-radius-base);
  padding: var(--spacing) 0;
  list-style: none;
  max-height: calc(50vh - var(--nav-height));
  overflow-y: auto;
}

.ComposerForm__autocomplete-item {
  @apply --ComposerForm__autocomplete-item;
}

.ComposerForm__autocomplete-item_highlighted {
  @apply --ComposerForm__autocomplete-item;

  color: var(--primary-green-dark);
  background-color: color(var(--gray-lighter) a(90%));
}

.ComposerForm__btn-create {
  flex: 0 0;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover,
  &:active {
    color: var(--primary-green-dark);
  }
}
