:root {
  --App: {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: var(--color-text);
  };
}

.App {
  @apply --App;

  background-color: var(--color-bg);
}

.App_working {
  @apply --App;

  background-color: var(--color-bg_working);
}

.App_breaking {
  @apply --App;

  background-color: var(--color-bg);
}

.App__header {
  @apply --shadow-1;

  align-self: stretch;
}

.App__main {
  display: table;
  align-self: center;
}

.App__main-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.App__footer {
  /* TODO: Not yet implemented. */
}
