{
  "presets": [
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        [
          "espower",
          {
            "embedAst": true
          }
        ],
        "react-hot-loader/babel"
      ],
      "presets": [
        "es2015",
        "power-assert"
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "unassert"
      ],
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react-optimize"
      ]
    }
  }
}
