{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "espower",
          {
            "embedAst": true
          }
        ],
        "react-hot-loader/babel"
      ],
      "presets": [
        "power-assert"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ],
      "presets": [
        "react-optimize"
      ]
    }
  }
}
