:root {
  --HistoryView__margin-top: calc(var(--nav-height) + var(--category-selector-height) + var(--spacing));
}

.HistoryView {
  @apply --Page;

  margin-top: var(--HistoryView__margin-top);
  height: calc(100vh - var(--HistoryView__margin-top));
  overflow-y: scroll;
}
