:root {
  --timer-size: 240px;
  --timer-progress-width: 4px;
  --timer-inner-size: calc(var(--timer-size) - 2 * var(--timer-progress-width));

  --PomodoroTimer: {
    position: relative;
    width: var(--timer-size);
    height: var(--timer-size);
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--gray-lightest);
  };

  --PomodoroTimer__inner-wrapper: {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: var(--timer-progress-width);
    left: var(--timer-progress-width);
    width: var(--timer-inner-size);
    height: var(--timer-inner-size);
    line-height: var(--timer-inner-size);
    color: var(--color-text_light);
  };

  --PomodoroTimer__name: {
    position: absolute;
    top: calc(3 * var(--spacing));
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    width: 100%;
    height: auto;
    line-height: var(--line-height-base);
  };

  --PomodoroTimer__time: {
    font-size: 2.4rem;
  };

  --PomodoroTimer__btn-start: {
    @apply --btn;
    @apply --btn-large;

    position: absolute;
    bottom: calc(3 * var(--spacing));
    left: calc(var(--timer-inner-size) / 2 - var(--btn-large-size) / 2);
  };
}

.PomodoroTimer {
  @apply --PomodoroTimer;
}

.PomodoroTimer__inner-wrapper {
  @apply --PomodoroTimer__inner-wrapper;

  background-color: var(--color-bg_break);
}

.PomodoroTimer__inner-wrapper_working {
  @apply --PomodoroTimer__inner-wrapper;

  background-color: var(--color-bg_work);
}

.PomodoroTimer__inner-wrapper_breaking {
  @apply --PomodoroTimer__inner-wrapper;

  background-color: var(--color-bg_break);
}

.PomodoroTimer__name {
  @apply --PomodoroTimer__name;
}

.PomodoroTimer__time {
  @apply --PomodoroTimer__time;
}

.PomodoroTimer__btn-start {
  @apply --PomodoroTimer__btn-start;
  @apply --btn-primary-red;
}

.PomodoroTimer__btn-start_working {
  @apply --PomodoroTimer__btn-start;
  @apply --btn-primary-green;
}

.PomodoroTimer__btn-start_breaking {
  @apply --PomodoroTimer__btn-start;
  @apply --btn-primary-red;
}
