.CategoryPath {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.CategoryPath__item {
  display: inline-block;
  list-style: none;
  font-size: 0.9rem;

  & > :link,
  & > :visited {
    color: var(--gray);
    text-decoration: none;
  }

  & > :hover {
    text-decoration: underline;
  }

  &:not(:last-child)::after {
    display: inline-block;
    content: "/";
    margin: 0 calc(0.5 * var(--spacing));
    color: var(--gray-light);
  }
}
