:root {
  --TaskItem: {
    @apply --List__item;

    position: relative;

    &:first-child .TaskItem__content {
      border-top: none;
    }
  };
}

.TaskItem {
  @apply --TaskItem;
}

.TaskItem_selected {
  @apply --TaskItem;

  background-color: var(--primary-green-light);

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    border-left: 4px solid var(--primary-green);
  }
}

.TaskItem_dragging,
.TaskItem_droppable {
  @apply --TaskItem;

  & .TaskItem__content {
    cursor: pointer;
  }
}

.TaskItem_droppable {
  background-color: var(--color-bg_light);

  &:hover {
    background-color: var(--color-bg_light);
  }
}

.TaskItem_not-droppable {
  @apply --TaskItem;

  & .TaskItem__content {
    cursor: not-allowed;
  }
}

.TaskItem_dragging {
  background-color: var(--gray-lighter);
}

.TaskItem__complete,
.TaskItem__select {
  display: none;
}

.TaskItem__complete:checked ~ .TaskItem__content {
  text-decoration: line-through;
  cursor: auto;
}

.TaskItem__select:checked ~ .TaskItem__content > .TaskItemContent::after {
  display: block;
}

.TaskItem__icon {
  @apply --List__icon;

  align-self: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-text_dark);
  position: relative;
  color: var(--color-text_dark);
  cursor: pointer;
}

.TaskItem__content {
  @apply --List__body;

  cursor: move;
}
