:root {
  --CategoryTree: {
    margin: 0;
    padding: 0;
    color: var(--gray-dark);
  }
}

.CategoryTree {
  @apply --CategoryTree;

  & .CategoryNode__link::before,
  & .CategoryNode__link_active::before {
    content: "-";
    margin: 0 var(--spacing);
    color: var(--gray);
  }
}

.CategoryTree_root {
  @apply --CategoryTree;
}
