:root {
  --CategoryList: {
    margin: 0;
    padding: 0;
    color: var(--gray-dark);
  }
}

.CategoryList {
  @apply --CategoryList;

  & .CategoryNode__link::before,
  & .CategoryNode__link_active::before {
    content: "-";
    margin: 0 var(--spacing);
    color: var(--gray);
  }
}

.CategoryList_root {
  @apply --CategoryList;
}
