:root {
  --CategoryList__item-link: {
    display: flex;
    padding: calc(1 * var(--spacing)) calc(2 * var(--spacing));
    background-color: color(var(--color-bg_light) a(85%));
    border-bottom: 1px solid var(--gray-light);

    &::before {
      content: "\f0da";
      font-family: "FontAwesome";
      margin-right: var(--spacing);
    }

    &:link,
    &:visited {
      color: var(--gray-dark);
      text-decoration: none;
    }

    &:hover {
      background-color: color(var(--gray-lighter) a(85%));
    }
  }
}

.CategoryList {
  margin: 0;
  padding: 0;
  color: var(--gray-dark);
}

.CategoryList__item {
  display: block;
  list-style: none;
}

.CategoryList__item-link {
  @apply --CategoryList__item-link;
}

.CategoryList__item-link_active {
  @apply --CategoryList__item-link;
}

.CategoryList__item-name {
  flex: 1 1 auto;
}

.CategoryList__item-count {
  flex: 0 0 auto;
  color: var(--gray);
}
