:root {
  /* stylelint-disable declaration-colon-space-after */

  --black:          #000;
  --gray-darker:    #333;
  --gray-dark:      #555;
  --gray:           #999;
  --gray-light:     #ccc;
  --gray-lighter:   #f0f0f0;
  --gray-lightest:  #f9f9f9;
  --white:          #fff;

  /* brand colors */
  --primary-red:          #ec6d51;
  --primary-red-dark:     #d46248;
  --primary-red-darker:   #a54c38;
  --primary-green-light:  #e7f4e5;
  --primary-green:        #88cb7f;
  --primary-green-dark:   #7ab672;
  --primary-green-darker: #5f8e58;

  /* stylelint-enable */
}
