:root {
  /* stylelint-disable declaration-colon-space-after */

  /* colors */
  --color-text: var(--gray-lightest);
  --color-bg:   var(--primary-green);
  --color-bg_working: var(--primary-red);

  /* text */
  --font-size-base:   16px;
  --line-height-base: 1.8;

  /* spacing */
  --spacing: 8px;

  /* size */
  --nav-height:    48px;
  --nav-item-size: var(--nav-height);

  /* stylelint-enable */
}
