:root {
  /* stylelint-disable declaration-colon-space-after */

  /* colors */
  --color-text_dark:  var(--gray-dark);
  --color-text_light: var(--gray-lightest);
  --color-text:       var(--color-text_dark);
  --color-bg_dark:    var(--gray-dark);
  --color-bg_light:   var(--gray-lightest);
  --color-bg:         var(--color-bg_light);
  --color-bg_work:    var(--primary-red);
  --color-bg_break:   var(--primary-green);

  /* text */
  --font-size-base:   14px;
  --line-height-base: 1.8;

  /* spacing */
  --spacing: 8px;

  /* size */
  --nav-height:    48px;
  --nav-item-size: var(--nav-height);

  /* border */
  --border-radius-base: 4px;

  /* z-index */
  --zindex-nav:            1000;
  --zindex-modal-backdrop: 1040;
  --zindex-modal:          1050;

  /* stylelint-enable */
}
