:root {
  --List: {
    margin: 0;
    padding: 0;
    list-style: none;
  };

  --List__item: {
    display: flex;

    &:hover {
      background-color: var(--gray-lighter);
    }
  };

  --List__icon: {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: var(--color-text_light);
    margin: calc(2 * var(--spacing));
  }

  --List__body: {
    flex: 1;
    padding: calc(2 * var(--spacing)) 0;
    margin-right: calc(2 * var(--spacing));
    border-top: 1px solid var(--gray-light);
  };

  --List__caption: {
    @apply --Page__caption;
  }
}
