<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="container"></div>
  <!-- <% if (process.env.HOT) { %> -->
  <script>
    {
      const PORT = process.env.PORT || 8888;
      const distUrl = `http://localhost:${PORT}/dist`;

      const script = document.createElement('script');
      script.src = `${distUrl}/bundle.js`;
      document.write(script.outerHTML);

      document.title = "tomatone";
    }
  </script>
  <!-- <% } %> -->
</body>
</html>
