:root {
  --IterationList__icon: {
    @apply --List__icon;

    color: var(--color-text_light);
  };
}

.IterationList {
  @apply --List;
}

.IterationList__item {
  @apply --List__item;
}

.IterationList__date {
  @apply --List__caption;
}

.IterationList__icon {
  @apply --IterationList__icon;

  background-color: var(--color-bg_dark);
}

.IterationList__icon_now {
  @apply --IterationList__icon;

  background-color: var(--color-bg_work);
}

.IterationList__body {
  @apply --List__body;
}

.IterationList__date + .IterationList__item > .IterationList__body {
  border: none;
}

.IterationList__title {
  display: block;
  line-height: 1;
  margin-bottom: calc(0.5 * var(--spacing));
}

.IterationList__metadata {
  font-size: 0.8rem;
  color: var(--gray);
}
