
:root {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

html,
body,
#container {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
